/* font-faces */

@font-face {
    font-family: 'TitilliumText22LThin';
    src: url('../fonts/titilliumtext22l001-webfont.eot');
    src: url('../fonts/titilliumtext22l001-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumtext22l001-webfont.woff') format('woff'),
         url('../fonts/titilliumtext22l001-webfont.ttf') format('truetype'),
         url('../fonts/titilliumtext22l001-webfont.svg#TitilliumText22LThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LLight';
    src: url('../fonts/titilliumtext22l002-webfont.eot');
    src: url('../fonts/titilliumtext22l002-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumtext22l002-webfont.woff') format('woff'),
         url('../fonts/titilliumtext22l002-webfont.ttf') format('truetype'),
         url('../fonts/titilliumtext22l002-webfont.svg#TitilliumText22LLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LRegular';
    src: url('../fonts/titilliumtext22l003-webfont.eot');
    src: url('../fonts/titilliumtext22l003-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumtext22l003-webfont.woff') format('woff'),
         url('../fonts/titilliumtext22l003-webfont.ttf') format('truetype'),
         url('../fonts/titilliumtext22l003-webfont.svg#TitilliumText22LRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LBold';
    src: url('../fonts/titilliumtext22l005-webfont.eot');
    src: url('../fonts/titilliumtext22l005-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumtext22l005-webfont.woff') format('woff'),
         url('../fonts/titilliumtext22l005-webfont.ttf') format('truetype'),
         url('../fonts/titilliumtext22l005-webfont.svg#TitilliumText22LBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* ---------- Basic Layout Styles ----------- */

* {
  margin: 0;
  padding: 0;
}

body {
  background: url(../images/fondo.jpg) repeat-x center top #060A0B;
  width: 100%;
  height: 100%;
  color: #90a627;
  font-family: Verdana;
  font-size: 12px;
  line-height: normal;
  min-width: 900px;
}

div#page-wrapper {
	background: url(../images/fondo_head.jpg) repeat-x center top #060A0B;
	width: 900px;
	padding: 0 150px;
	height: 100%;
  margin: 0 auto 30px;
}

div#page {
  height: 100%;
  width: 900px;
  padding: 125px 0 60px;
  min-height: 100%;
  min-width: 900px;
}
#footer {
  width: 100%;
  min-width: 920px;
}

ul li.leaf,
ul li,
li {
  list-style: none;
  list-style-image: none;
}
ul {
  margin: 0;	
}


/*
* @ CSS for structural and general elements
*/

/**
* General Settings
*/

div#skip-link {
  display: none;  
}

a {
  outline: none;
  text-decoration: none;
  color: #90a627;
}

.clear_both,
.clearfix { 
  clear: both;
}

div#container {
  position: relative;
}

body.not-front div#content {
	float: right;
	width: 570px;
}

div#left-sidebar {
	float: left;
	width: 262px;
	margin-bottom: 45px;
}

/** Header **/

div.region-header > div {
	float: left;
}

div#block-block-1 {
	margin-bottom: 45px;
}

/** Logo **/
div#block-block-1 {
	width: 350px;
	height: 120px;
}
/** [end of] Logo **/

/** Iconos cabecera **/
div#block-block-2 {
	width: 530px;
  margin-top: 90px;
  margin-bottom: 55px;
  height: 20px;
	vertical-align: bottom;
	text-align: right;
}

div#block-block-2 div.content {
	float: right;
}

div#block-block-2 a {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 8px;	
}

div#block-block-2 a.idioma-es {
	background-image: url("/files/iconos_cabecera/es_off.png");
}
div#block-block-2 a.idioma-es:hover {
	background-image: url("/files/iconos_cabecera/es_on.png");
}
div#block-block-2 a.idioma-en {
	background-image: url("/files/iconos_cabecera/en_off.png");
}
div#block-block-2 a.idioma-en:hover {
	background-image: url("/files/iconos_cabecera/en_on.png");
}
div#block-block-2 a.facebook {
	background-image: url("/files/iconos_cabecera/f_off.png");
}
div#block-block-2 a.facebook:hover {
	background-image: url("/files/iconos_cabecera/f_on.png");
}
div#block-block-2 a.twitter {
	background-image: url("/files/iconos_cabecera/tw_off.png");
}
div#block-block-2 a.twitter:hover {
	background-image: url("/files/iconos_cabecera/tw_on.png");
}
div#block-block-2 a.contacto {
	background-image: url("/files/iconos_cabecera/contacto_off.png");
}
div#block-block-2 a.contacto:hover {
	background-image: url("/files/iconos_cabecera/contacto_on.png");
}
/** [end of] Iconos cabecera **/

/** Main menu **/

div#block-system-main-menu {
  margin-left: 15px;
} 
div#block-system-main-menu ul li {
	height: 19px;
}

div#block-system-main-menu ul li a {
  font-family: TitilliumText22LRegular;
  font-size: 16px;
  text-transform: uppercase;
  color: #669747;
  padding-bottom: 2px;
}

div#block-system-main-menu ul li a.active,
div#block-system-main-menu ul li a:hover {
	color: #7dbb56;
	font-family: TitilliumText22LBold;
}
/** [end of] Main menu **/

/** Slogan **/
div#block-block-3 {
  width: 520px;
  margin-right: 50px;
  float: right;		
}
div#block-block-3 h2 {
  font-size: 34px;
  font-family: TitilliumText22LRegular;
  font-weight: normal;
  line-height: 32px;
  color: #849b29;
}
div#block-block-3 p {
  margin-top: 29px;
  font-size: 16px;	
  color: #849b29;
  font-weight: bold;
  font-family: Verdana;
}
/** [end of] Slogan **/

/** [end of] Header **/

/** Main content **/
div#main {
  padding: 20px;
  margin-top: 25px;	
}
/** Left sidebar **/
div.region-left-sidebar {
  margin-top: 18px;
  font-size: 13px;
  color: #DFDBDC;
}
div.view-cuadros-home h2 a,
h1.title,
div#block-block-5 h3 {
	vertical-align: middle;
	font-size: 34px;
	font-family: 'TitilliumText22LLight';
	line-height: 64px;
	text-align: center;
	width: 262px;
	height: 67px;
	background-color: #849b29;
	color: #000;
	font-weight: normal;
  display: block;
}
div.view-cuadros-home h2 a.titulo-largo,
h1.title.titulo-largo {
  font-size: 23px;
}
/** [end of] Left sidebar **/
/** [end of] Main content **/

/** E-marketing **/
div.view-display-id-emarketing_cuadros ul {
	margin: 0;
	margin-left: 20px;
}

div.view-display-id-emarketing_cuadros ul li {
	float: left;
	position: relative;
	width: 265px;
	height: 270px;
	margin: 0 0 40px 0;
}

div.view-display-id-emarketing_cuadros ul li.views-row-odd {
  margin-right: 20px;	
}

div.view-display-id-emarketing_cuadros ul li img {
  width: 265px;
  height: 235px;
}

div.view-display-id-emarketing_cuadros ul li div.views-field-body {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  width: 235px;
  height: 207px;
  padding: 15px;
  line-height: 17px;
}

div.view-display-id-emarketing_cuadros ul li div.views-field-title {
  position: absolute;
  width: 235px;	
  color: #74AC55;
  bottom: 0;
} 

div.view-display-id-emarketing_cuadros ul li.hover div.views-field-field-image img {
	opacity:0.2;
  filter:alpha(opacity=20); /* For IE8 and earlier */
}

div#block-views-a4ccb9e19850d4f1ae6880c48238bce0 { /** Lista de cuadros **/
	margin-top: 20px;
}

div#block-views-a4ccb9e19850d4f1ae6880c48238bce0 h2 {
	font-size: 11px;
}

div.view-display-id-lista_cuadros_emarketing ul li {
  margin: 10px 0 0;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  cursor: default;
}

div.view-display-id-lista_cuadros_emarketing ul li.hover {
	color: #74AC55;
}
/** [end of] E-marketing **/
/** CONTACT FORM **/

body.node-type-webform div.submitted {
  display: none;
}

form.webform-client-form {
  display: none;
}

form.webform-client-form.jqtransformdone {
  display: block;
}

body.node-type-webform form#webform-client-form-4 {
  height: auto;
  float: none;
}

body.node-type-webform form#webform-client-form-4 div.right-side {
  clear: both;
}

body.node-type-webform form#webform-client-form-4 div.right-side,
body.node-type-webform form#webform-client-form-4 div.left-side {
  height: auto;
  float: none;
}

form#webform-client-form-4 div#webform-component-servicios div.jqTransformSelectWrapper ul {
  height: auto;
  max-height: auto !important;
}

body.node-type-webform form#webform-client-form-4 div#webform-component-servicios {
  margin-bottom: 0px;
}

form#webform-client-form-4 div#webform-component-servicios div.jqTransformSelectWrapper > div {
  height: 35px;
}

body.node-type-webform form#webform-client-form-4 div.captcha {
  padding-top: 15px;
}

form#webform-client-form-4 {
	width: 552px;
	height: 286px;
  float: left;
}

form#webform-client-form-4 > div {
	width: 262px;
	height: 286px;
}

form#webform-client-form-4 > div > div {
	width: 262px;
}

form#webform-client-form-4 div.left-side {
	float: left;
	margin-right: 28px;
}

form#webform-client-form-4 div.right-side {
  float: right;	
}

form#webform-client-form-4 div.captcha {
	height: 88px;
}

form#webform-client-form-4 div.form-item-captcha-response {
	margin: 13px 0 0;
}

form#webform-client-form-4 div.captcha img,
form#webform-client-form-4 div.form-item-captcha-response div.jqTransformInputWrapper {
	background-color: #858c60;
}

form#webform-client-form-4 div.form-item-captcha-response div.jqTransformInputWrapper input {
  color: #060a0b;
}

body.page-node-12 form#webform-client-form-4 div.left-side {
  float: none;
  margin-right: 28px;
}

body.page-node-12 form#webform-client-form-4 div.right-side {
  margin-top: 15px;
  float: none; 
}

body.page-node-12 form#webform-client-form-4 > div {
	height: auto;
}

/** [end of] CONTACT FORM **/

/** debajo contenido **/
div.region-content-bottom {
  margin-top: 50px;
  clear: both;
  height: 290px;
}
/** [end of] debajo contenido **/

/** footer blocks **/

div#block-block-4 {
  font-family: Verdana;
  font-size: 11px;
  color: #90a627;
}

div#block-block-4 p {
  float: left;
  width: 50%;
}

div#block-block-4 p.imagen + p {
  margin-top: 25px;
}

div#block-block-4 p.imagen {
  width: auto;
  margin-top: 0px;
}

div#block-menu-menu-menu-footer {
  clear: both;
}

div#block-menu-menu-menu-footer ul {
  text-align: center;
  margin: 0 auto;
  width: 825px;
}

div#block-menu-menu-menu-footer ul li {
  float: left;
  border-right: 1px solid #dfdbdc;
  margin-top: 30px;
}

div#block-menu-menu-menu-footer ul li.last {
  border: none;
}

div#block-menu-menu-menu-footer  a {
  font-family: Verdana;
  font-size: 11px;
  color: #dfdbdc;
}

/** [end of] footer blocks **/ 

/** home blocks **/
div.view-cuadros-home ul {
  margin: 0;
}
div.view-cuadros-home ul li {
  float: left;
  margin: 0;
  width: 285px;
  height: 440px;
}
div.view-cuadros-home ul li div {
  width: 260px;
}
div.view-cuadros-home ul li p {
  margin-top: 20px;
  font-family: "Verdana";
  color: #dfdbdc;
  line-height: 17px;
}
div.view-cuadros-home ul li img {
  width: 262px;
  margin-top: 2px;
}
div.view-cuadros-home ul li div.views-field-path {
  margin-top: 7px;
  font-family: "Verdana";
  font-weight: bold;
  font-size: 12px;
  color: #7fb859;
}
div#block-block-5 { /* cuadro titulo contacto */
  width: 305px;
  float: left;
}

div#block-block-5 h3 {
  font-family: "TitilliumText22LLight";
  font-size: 34px;
  color: #90a627;
  background-color: #293424;
}

div#block-block-5 p {
  margin-top: 20px;
  font-family: "Verdana";
  font-size: 13px;
  color: #90a627;
  padding-right: 25px;
}


/** Bloque descripcion contacto **/
div#block-block-6 p {
  font-family: "Verdana";
  font-size: 13px;
  margin-top: 15px;
  color: #90a627;
}

div#block-block-6 p.descripcion {
  margin-top: 20px;
  color: #dfdbdc;
  padding-right: 25px;
  margin-bottom: 15px;
}

div#block-block-6 p img {
  margin-right: 10px;
}

div#block-block-6 p a {
  font-weight: bold;  
}

/** SLIDER & CAROUSEL **/
div.view-slider {
  width: 832px;
  height: 200px;
  margin-bottom: 45px;
  position: relative;
}

div.view-slider ul li {
  position: relative;
  background-color: #293424;
}
  
div.view-slider ul li img {
  position: absolute;
  top: 0;
  right: 0;
  height: 175px;
}

div.view-slider ul li div.views-field-field-seccion {
  position: absolute;
  top: 25px;
  left: 25px;
  max-width: 250px;
  font-family: 'TitilliumText22LRegular';
  font-size: 21px;
  color: #a9c511;
}


div.view-slider ul li div.container-subtitulo-texto {
  position: absolute;
  bottom: 20px;
  left: 25px;
  max-width: 230px;
}


div.view-slider ul li div.views-field-field-cliente {
  font-family: 'TitilliumText22LBold';
  font-size: 15px;
  color: #a9c511;
}

div.view-slider ul li div.views-field-field-trabajo {
  font-family: 'TitilliumText22LThin';
  color: #a9c511;
  font-size: 15px;
}

div.slider {
  background: none;
  border: 0;
  background-color: #a9c511;
  position: absolute;
  right: 75px;
  bottom: 7px;
  width: 470px !important;
  height: 1px;
}

div.view-slider div.slider a.ui-slider-handle.ui-state-default {
  margin-left: -20px; 
  width: 40px;
  height: 10px;
  background: none;
  border: 0;
  background-color: #a9c511;
  -moz-border-radius: 0px/*{cornerRadius}*/;
  -webkit-border-radius: 0px/*{cornerRadius}*/;
  border-radius: 0px/*{cornerRadius}*/;
}

/** [end of] SLIDER & CAROUSEL **/
/** [end of] home blocks **/
